.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    padding-top: 4rem;
    padding-bottom: 4.9375rem;
}

.login__titulo {
    margin-top: 0;
}

.login__input {
    font-family: 'Raleway', sans-serif;
    width: 26.4375rem;
    height: 3.5rem;
    border: none;
    margin-bottom: 2rem;
    outline: none;
    border-radius: 5px;
    border-bottom: 2px solid #C8C8C8;
    padding-left: 1rem;
    font-size: 0.9rem;
}

.login__boton {
    width: 27.5625rem;
    height: 3.5rem;
    font-family: 'Raleway';
    color: #FFFFFF;
    font-weight: bold;
    background-color: #2A7AE4;
    border: 1px solid #2A7AE4;
    border-radius: 5px;
    transition: 0.2s all ease-out;
    cursor: pointer;
}

.informacion {
    margin-top: 0;
}

.span {
    cursor: not-allowed;
}

.login__boton.disabled {
    opacity: 0.5;
    pointer-events: none;
}



.login__boton:hover {
    background-color: #FFFFFF;
    color: #2A7AE4;
    cursor: pointer;
}

.login__input:focus {
    outline: none;
    border-bottom: 2px solid #2A7AE4;
    border-radius: 5px;
}

.login__input::placeholder {
    color: #A2A2A2;
}

/* Resonsive Tablet */

@media(max-width: 768px) {

    .login__input {
        width: 17.1875rem;
        height: 2.5625rem;
        font-size: 1rem;
    }

    .login__boton {
        width: 6.8125rem;
        height: 2.5rem;
        font-weight: 600;
    }
}